@import "mixin";
@import "reset";
#header {
  padding: 10px 0;
  .header {
    @include se;

    &--logo {
      @include df;

      h1{
        font-size: 13px;
        color: #0C76D8;
        text-transform: uppercase;
      }
      h2 {
        font-weight: 400;
        font-size: 11px;
        color: #2A2D46;
      }
    }

    &--text {
      @include sb;
      p {
        padding: 0 20px;
        font-size: 12px;
        color: #2A2D46;
        transition: .5s;
        cursor: text;
        &:hover {
          color: blue;
        }
      }
      span {
        font-weight: 700;
        font-size: 13px;
        color: #2A2D46;
      }

    }
    &--ion {
      @include df;
      button {
        font-weight: 700;
        font-size: 11px;
        color: #EB2D66;
        border: 1px solid #EB2D66;
        padding: 10px 25px;
        background: transparent;
      }
      ion-icon {
        color: #EB2D66;
        font-size: 29px;
        margin:  0 20px;
      }
      select {
        border: none;
        outline: none;
        background: transparent;
        font-weight: 700;
        font-size: 12px;
        color: #2A2D46;
      }

    }
  }

}

